personne.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

personnage = element personnage {
(nom&prenom),pays?,photo?,commentaire?
}

nom = element nom{text}
prenom = element prenom{text}
pays = element pays {text}
photo = element photo {url}
url = xsd:string {pattern="https+"}
commentaire = element commentaire {text}
