personne.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

personnage = element personnage {
nomComplet,pays?,photo?,commentaire?
}

nomComplet = element nomComplet {nom&prenom}
nom = element nom{text}
prenom = element prenom{text}
pays = element pays {text}
photo = element photo {url}
url = xsd:string {pattern="https+"}
commentaire = element commentaire {text}
